ehforwarderbot==2.1.1
efb-telegram-master==2.2.4
efb-wechat-slave==2.0.6
efb-qq-slave==2.0.1
efb-qq-plugin-mirai==2.0.9
efb-msg-blocker-middleware==1.1.0
efb-notice-middleware==0.0.6
efb-voice-recog-middleware==1.0.3
